body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.footer {
    width: 100%;
    text-align: center;
}

.footer > p {
    color: #afafaf;
    margin: 13px 0 0 0;
}

.jumbotron.img-group {
    height: 320px;
}