.menu-user {
    color: white;
    margin-right: 10px;
}

.info-container {
    float: right;
    padding: 10px 0px;
}

@media (max-width: 768px) {
    .menu-user {
        float: left;
    }

    .menu-button {
        float: left;
        clear: both;
        margin: 20px 0px;
    }

    .info-container {
        float: none;
    }
}

#home-panel-ques {
    display: flex;
    min-height: 85px;
    justify-content: center;
    flex-direction: column;
    font-style: italic;
}
.glyphicon.glyphicon-star {
    left: 5px;
    color: #e7b21d;
}

#textarea {
    resize: none;
    margin: 15px 0;
}

.pregunta-correcta, .pregunta-regular, .pregunta-mal {
    font-weight: bold;
}

.pregunta-correcta {
    color: #3c763d;
}
.pregunta-regular {
    color: #ceb532;
}
.pregunta-mal {
    color: #a94442;
}