@model SubeCalificaciones.Models.Profesor
@{
    ViewBag.Title = "Profesor";
    Layout = "~/Views/Shared/Profesor/_ProfesorLayout.cshtml";
    if ( Session["ProfesorName"] == null && Session["ProfesorSurn"] == null )
    {
        Response.Redirect("~/Home/Ingresar");
    }
}

<h2>Bienvenido @Session["ProfesorName"].ToString() @Session["ProfesorSurn"].ToString() </h2>
