@{
    ViewBag.Title = "Alumno Acerca de";
    Layout = "~/Views/Shared/_AlumnoLayout.cshtml";
}
<h2>Acerca De</h2>

<hr />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="~/Content/Images/group.jpg">
        </div>        
    </div>
    <div class="row">
    <div class="col-md-12">
            <p><i>Integrantes:</i></p>
            <ul>
                <li>Reyna Rondo Sánchez</li>
                <li>Tomás Javier Gómez</li>
                <li>Walther Pérez Graciano</li>
                <li>Federico Pérez</li>
            </ul>
        </div>        
    </div>
</div>