@{
    ViewBag.Title = "Alumno Home";
    Layout = "~/Views/Shared/Alumno/_AlumnoLayout.cshtml";
    if (Session["AlumnoName"].ToString() == String.Empty)
    {
        Response.Redirect("~/Home/Ingresar");
    }
}

<h2>Bienvenido @Session["AlumnoName"].ToString() @Session["AlumnoSurn"].ToString() </h2>