@model SubeCalificaciones.Models.Alumno
@{
    ViewBag.Title = "Alumno";
    Layout = "~/Views/Shared/Alumno/_AlumnoLayout.cshtml";
    if ( Session["AlumnoName"] == null &&  Session["AlumnoSurn"] == null)
    {
        Response.Redirect("~/Home/Ingresar");
    }
}

<h2>Bienvenido @Session["AlumnoName"].ToString() @Session["AlumnoSurn"].ToString()</h2>